@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

body {
  @apply min-h-screen bg-night bg-aurora-gradient text-white antialiased;
}

::selection {
  @apply bg-aurora-start/60 text-white;
}
